<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="static/css/main.css" />
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='js/build.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>