<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
    </head>
    <body>
        <div class="wrapper">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-sm-12">
                        {% for message in messages %}
                            <div style="margin-top: 20px" class="alert alert-info alert-dismissible" role="alert">
                              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
            <div class="push"></div>
        </div>
        <script src="{{ url_for('static', filename='js/build.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>