{% extends 'base.html' %}

{% block title %}
Learner collaborative
{% endblock title %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Collaborative styleguide generation</h2>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <div class="panel-body">
          <div class="panel-group" id="element-list" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading toggle-collapse" role="tab">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#element-list" href="#elBtn" aria-expanded="true" aria-controls="elBtn">
                    Buttons
                  </a>
                </h4>
              </div>
              <div id="elBtn" class="panel-collapse collapse in" role="tabpanel">
                <div class="panel-body">
                  <div class="list-group">
                    <a href="#" class="list-group-item"><span class="class-name">.btn-default</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">.btn-primary</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">.btn-success</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">.btn-warning</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">.btn-danger</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">.btn-block</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">.btn-sm</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">.btn-lg</span><span class="badge">0</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading toggle-collapse" role="tab">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#element-list" href="#elTypography" aria-expanded="true" aria-controls="elTypography">
                    Typography
                  </a>
                </h4>
              </div>
              <div id="elTypography" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <div class="list-group">
                    <a href="#" class="list-group-item"><span class="class-name">h1</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">h2</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">h3</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">h4</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">h5</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">h6</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">strong</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">em</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">blockquote</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">.text-muted</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">.text-primary</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">.text-warning</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">.text-danger</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">.text-success</span><span class="badge">0</span></a>
                    <a href="#" class="list-group-item"><span class="class-name">.text-info</span><span class="badge">0</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <h4 id="styleguide-header">Styleguide preview</h4>
        </div>
      </div>
      <div class="col-md-9">
        <h4>Mockup</h4>
        <div id="mockCanvas" style="position: relative;">
          <img id="mockImg" src="/static/img/emodo_mockup.png" style="display: none;">
        </div>
      </div>
    </div>
  </div>
</div>
<a id="element-template" class="list-group-item" href="#"></a>
<a id="element-add-template" class="element-add" href="#">&#43;</a>
<a id="new-element-template" class="list-group-item form-inline" href="#"><span class="new-element-prefix control-label"></span><input type="text" class="new-element-input form-control"/></a>
<div id="styleguide-preview-template" class="styleguide-preview"></div>


<div id="newElementForm" class="panel panel-default" style="width: 400px; position: absolute; display: none;">
  <div class="panel-heading"><label class="control-label" for="newElementTag">Tag the Element</label></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6" id="newElementSiblings"></div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-right">
        <div class="btn btn-default" id="newElementCancel">Cancel</div>
        <div class="btn btn-primary disabled" id="newElementSubmit">Save</div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/template" id="elementListPanelTemplate">
<% _.forEach(groups, function(items, title) { %>
<div class="panel panel-default">
  <div class="panel-heading toggle-collapse" role="tab">
    <h4 class="panel-title">
      <a href="#el<%= title %>" class="collapsed" data-toggle="collapse" data-parent="#element-list" aria-expanded="false" aria-controls="el<%= title %>">
        <%= title %>
      </a>
    </h4>
  </div>
  <div id="el<%= title %>" class="panel-collapse collapse" role="tabpanel">
    <div class="panel-body">
      <div class="list-group">
        <% _.forEach(items, function(item) { %>
        <a href="#" class="list-group-item" data-item="<%= item %>"><%= item %> <span class="badge">0</span></a>
        <% }); %>
      </div>
    </div>
  </div>
</div>
<% }); %>
</script>
<script type="text/javascript">
  PWAP.rects =
  {
    'r1': [1850, 30, 160, 75],
    'r2': [1500, 800, 400, 75],
    'r3': [1585, 270, 225, 75]
  };
  PWAP.state = [
    {
      rectID: 'r1',
      class: 'btn-primary'
    },
    {
      rectID: 'r2',
      class: 'btn-success'
    },
    {
      rectID: 'r3',
      class: 'strong'
    }
  ];
  jQuery(function() {
    PWAP.collab();
  });
</script>
{% endblock script %}