{% extends 'base.html' %}

{% block title %}
Learner collaborative
{% endblock title %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Collaborative styleguide generation</h2>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="panel-body">
          <form action="" method="get">
            <div class="form-group">
              <label for="inputNewElement">Enter a new type of element</label>
              <input type="text" class="form-control" id="inputNewElement" placeholder="e. g. button"/>
              <input type="submit" style="display:none"/>
            </div>
          </form>
          <div class="list-group" id="element-list">
            <p id="element-list-empty-message">No tags entered yet</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="panel-title" style="font-size: 20px;">Mockup</h2>
        <canvas id="mockup">Your browser does not support HTML5 Canvas.</canvas>
        <img data-src="/static/img/LI_mockup.png">
      </div>
    </div>
  </div>

</div>

{% endblock content %}

{% block script %}
<script type="text/javascript">
  PWAP.collab();
  var state = {
    "btn": {
      rects: [[10, 10, 10, 10]],
      children: {
        "primary": {
          rects: [[50, 10, 10, 10]],
          children: null
        }
      }
    }
  };
</script>
{% endblock script %}