{% extends 'base.html' %}

{% block title %}
Learner edit
{% endblock title %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Learner edit</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <p><strong>Do your best to replicate the "Goal" view. If you get stuck, just submit what you have.</strong></p>
                <h4>CSS</h4>
                <code>{{ '<html><head><style type="text/css">' }}</code>
                <div id="cssEditor" data-intro="Write CSS here."></div>
                <code>{{ "</style></head>" }}</code>
                <h4>HTML</h4>
                <code>{{ "<body>" }}</code>
                <div id="htmlEditor" data-intro="Write HTML here. Do not add ID attributes, please."></div>
                <code>{{ "</body></html>" }}</code>
            </div>
            <div class="col-md-6">
                <img id="mock" class="hide" data-src="/static/uploads/designs/{{ design.original_file }}"
                        data-element="{{ element.id }}"
                        data-xorigin="{{ element.xorigin }}"
                        data-yorigin="{{ element.yorigin }}"
                        data-width="{{ element.width }}"
                        data-height="{{ element.height }}"
                        data-design="{{ design.id }}" >
                <div style="position: relative; height: {{ element.height }}px;" data-intro="This area displays the 'Goal' view and your rendered HTML+CSS (alternating every second, by default). When the 'Goal' view is displayed, you can click any part of it to get the Hex value at that pixel. We recommend turning off Auto-Toggle to do this.">
                    <canvas id="mycanvas" width="{{ element.width }}" height="{{ element.height }}">
                        Your browser does not support HTML5 Canvas
                    </canvas>
                    <canvas id="preview" width="{{ element.width }}" height="{{ element.height }}"></canvas>
                </div>
                <h4>Controls:</h4>
                <form class="form-inline learner-edit-form">
                    <div class="form-group">
                        <label class="control-label">View:</label>
                        <div class="btn-group" data-toggle="buttons" id="view">
                            <label class="btn btn-default">
                                <input type="radio" name="view" autocomplete="off" id="goalbtn">Goal
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="view" autocomplete="off" selected id="previewbtn">Preview
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Auto-Toggle:</label>
                        <select class="form-control" id="togglespeed">
                            <option value="0">Off</option>
                            <option value="1000">Slow</option>
                            <option value="500">Med.</option>
                            <option value="200">Fast</option>
                        </select>
                    </div>
                    <div class="form-group hide">
                        <label class="control-label">Fade:</label>
                        <input type="checkbox" id="fade">
                    </div>
                </form>
                <h4>Goal View Clicked Color: <span id="color">None</span></h4>
                <h4 data-intro="This is how close you are to matching the 'goal' pixel for pixel. Try your best to get to 100%.">Accuracy: <span id="diffPercent">0</span>%</h4>
                <!--<h4>Diff (<span id="diffPercent"></span>%)</h4>
                <img id="diff" width="{{ element.width }}" height="{{ element.height }}">-->
                <input type="hidden" id="currentelementid" value="{{ element.id }}" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn btn-lg btn-block btn-primary" id="submit">Submit</div>
            </div>
        </div>


    </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript">
jQuery(function() {
    PWAP.editor();
});
</script>
{% endblock script %}