{% extends 'base.html' %}

{% block title %}
{{ module.title }}
{% endblock title %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading" data-intro="This is the Learning Module interface!">
    <div class="btn btn-info btn-sm pull-right" id="show-intro-btn" data-intro="Click here to see the introduction modal again.">View Introduction</div>
    <h2 class="panel-title">{{ module.title }}</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <h4>Task <span id="task-number"></span></h4>
        <p id="task-description" data-intro="Here is the description of your task."></p>
        <h4>CSS</h4>
        <div id="cssEditor" data-intro="Here is where you type your CSS."></div>
        <div class="row">
          <div class="col-md-6">
            <div id="status" class="alert alert-info" style="display: none;"><strong>Status: </strong><span>Empty</span></div>
          </div>
          <div class="col-md-6">
            <div id="check-answer" class="btn btn-primary btn-block btn-lg" data-intro="When you're finished click here (wait a few seconds after you finish typing before clicking).">Check Answer</div>
            <a id="next-task" class="btn btn-success btn-block btn-lg" style="display: none;">Next Task</a>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#tab-preview" aria-controls="tab-preview" role="tab" data-toggle="tab" data-intro="Click here to view how the element looks with your CSS.">Preview</a>
            </li>
            <li role="presentation">
              <a href="#tab-goal" aria-controls="tab-goal" role="tab" data-toggle="tab" data-intro="Click here to view how you want the element to look.">Goal</a>
            </li>
            <li role="presentation">
              <a href="#tab-src-html" aria-controls="tab-src-html" role="tab" data-toggle="tab" data-intro="Click here to see the HTML of the element.">Source HTML</a>
            </li>
            <li role="presentation">
              <a href="#tab-hints" aria-controls="tab-hints" role="tab" data-toggle="tab" data-intro="Click here if you get stuck. Good luck!">Hints</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div id="tab-preview" role="tabpanel" class="tab-pane active"><canvas width="400" height="400"></canvas></div>
            <div id="tab-goal" role="tabpanel" class="tab-pane"><canvas width="400" height="400"></canvas></div>
            <div id="tab-src-html" role="tabpanel" class="tab-pane"><pre></pre></div>
            <div id="tab-hints" role="tabpanel" class="tab-pane">
              <div id="get-hint" class="btn btn-info">Get Hint (<span id="hints-remaining">0</span> remaining)</div>
              <div id="hints"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="intro">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
        <h4 class="modal-title">Introduction</h4>
      </div>
      <div class="modal-body">
        {{ module.intro|safe }}
      </div>
      <div class="modal-footer">
        <div class="btn btn-primary" style="display: none;" data-dismiss="modal">Close</div>
        <a href="#1" class="btn btn-primary">Got it</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
<script type="text/javascript">
jQuery(function() {
  PWAP.learn();
});
</script>

{% for task in tasks %}
  <script type="json/task" data-task="{{ loop.index }}">
  {{ {
    'id': task[0].id,
    'HTML': task[0].HTML,
    'starterCSS': task[0].starterCSS,
    'answer': task[0].answer,
    'hints': task[0].hints,
    'taskDescription': task[0].task_description,
    'completed': task[1]
  }|tojson }}
  </script>
{% endfor %}
{% endblock script %}