{% extends 'base.html' %}

{% block title %}
{{ module.title }}
{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-lg-6">

  </div>
</div>

<div class="modal fade" id="intro" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Introduction</h4>
      </div>
      <div class="modal-body">
        {{ module.intro|safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Got it</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
<script type="text/javascript">
jQuery(function() {
  PWAP.learn();
});
</script>
{% endblock script %}