{% extends 'base.html' %}

{% block title %}
{{ module.title }}
{% endblock title %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="btn btn-info btn-sm pull-right" id="show-intro-btn">View Introduction</div>
    <h2 class="panel-title">{{ module.title }}</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <h4>Task <span id="task-number"></span></h4>
        <p id="task-description"></p>
        <h4>CSS</h4>
        <div id="cssEditor"></div>
        <div class="row">
          <div class="col-md-6">
            <div id="status" class="alert alert-info" style="display: none;"><strong>Status: </strong><span>Empty</span></div>
          </div>
          <div class="col-md-6">
            <div id="check-answer" class="btn btn-primary btn-block btn-lg">Check Answer</div>
            <a id="next-task" class="btn btn-success btn-block btn-lg" style="display: none;">Next Task</a>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#tab-preview" aria-controls="tab-preview" role="tab" data-toggle="tab">Preview</a>
            </li>
            <li role="presentation">
              <a href="#tab-goal" aria-controls="tab-goal" role="tab" data-toggle="tab">Goal</a>
            </li>
            <li role="presentation">
              <a href="#tab-src-html" aria-controls="tab-src-html" role="tab" data-toggle="tab">Source HTML</a>
            </li>
            <li role="presentation">
              <a href="#tab-hints" aria-controls="tab-hints" role="tab" data-toggle="tab">Hints</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div id="tab-preview" role="tabpanel" class="tab-pane active"><canvas width="200" height="200"></canvas></div>
            <div id="tab-goal" role="tabpanel" class="tab-pane"><canvas width="200" height="200"></canvas></div>
            <div id="tab-src-html" role="tabpanel" class="tab-pane"><pre></pre></div>
            <div id="tab-hints" role="tabpanel" class="tab-pane">
              <div id="get-hint" class="btn btn-info pull-right">Get Hint (<span id="hints-remaining">0</span> remaining)</div>
              <div id="hints"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="intro">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
        <h4 class="modal-title">Introduction</h4>
      </div>
      <div class="modal-body">
        {{ module.intro|safe }}
      </div>
      <div class="modal-footer">
        <div class="btn btn-primary" style="display: none;" data-dismiss="modal">Close</div>
        <a href="#1" class="btn btn-primary">Got it</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
<script type="text/javascript">
jQuery(function() {
  PWAP.learn();
});
</script>

{% for task in tasks %}
  <script type="json/task" data-task="{{ loop.index }}">
  {{ {
    'id': task.id,
    'HTML': task.HTML,
    'starterCSS': task.starterCSS,
    'answer': task.answer,
    'hints': task.hints,
    'taskDescription': task.task_description
  }|tojson }}
  </script>
{% endfor %}
{% endblock script %}