{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-5">
            <h3>Register</h3>
            <form action="/login" method="post">
              {{ register.hidden_tag()}}
              {{ render_field(register.username) }}
              {{ render_field(register.email) }}
              {{ render_field(register.password) }}
              {{ render_field(register.confirm) }}
              <!--{{ render_radio_field(register.scope) }}-->
              <input type="hidden" name="register-scope" id="register-scope" value="1" autocomplete="off">
              <input class="btn btn-primary btn-block" type="submit" name="btn" value="Register">
            </form>
          </div>
          <div class="col-lg-5 col-lg-offset-2">
            <h3>Log in</h3>
            <form action="/login" method="post">
              {{ login.hidden_tag()}}
              {{ render_field(login.username) }}
              {{ render_field(login.password) }}
              <input class="btn btn-primary btn-block" type="submit" name="btn" value="Log In">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}