#cssEditor, #htmlEditor {
	height: 180px;
}

/* Global page styles */
body {
	background-color: #eee;
}

h4 {
	padding-left: 15px;
}

/* Upload page */

#drop-zone {
	width: 100%;
	border-radius: 10px;
	background-color: gray;
	border: 2px solid gray;

	font-size: 40px;
	text-align: center;
	padding: 200px 0;
}

#drop-zone.dragging {
	background-color: #eee;
	border: 2px solid black;
}

#mycanvas, #preview, #diff {
    border: 2px inset;
    margin: 0 20px;
}

/* Client homepage */
#client-home-title {
	margin-left: 50px;
	margin-top: 20px;
}

#client-home-previews {
	padding: 20px;
}
#client-home-previews .row {
	margin-bottom: 30px;
}
#client-home-previews .preview-container {
	height: 300px;
	border: 1px solid black;
	overflow: hidden;
	text-align: center;
}
#client-home-previews .glyphicon {
	font-size: 120px;
	margin-top: 30px;
}
#client-home-previews a.glyphicon:link, #client-home-previews a.glyphicon:visited, #client-home-previews a.glyphicon:hover, #client-home-previews a.glyphicon:active {
	text-decoration: none;
	color: #000;
}
#client-home-previews .preview-image {
	height: 200px;
	overflow: hidden;
	margin: 10px;
}

/* Learner homepage */
.learner-dashboard-pane {
	text-align: center;
}
.learner-dashboard-pane:first-child {
	border-right: 1px solid black;
}
.learner-dashboard-pane-content {
	padding: 30px;
}


/* Modules */

.btn-help {
	display: block;
	width: 100px;
	margin-top: 50px;
}

#border-example {
	height: 100px;
	width: 200px;
	border: 1px solid blue;
}

