#cssEditor, #htmlEditor {
	height: 180px;
}

/* Global page styles */
h4 {
	padding-left: 15px;
}

canvas {
	user-select: none;
}

.panel-title {
	font-size: 24px;
}

.tab-pane {
	padding: 10px;
}

/* Upload page */

#drop-zone {
	width: 100%;
	border-radius: 10px;
	background-color: gray;
	border: 2px solid gray;

	font-size: 40px;
	text-align: center;
	padding: 200px 0;
}

#drop-zone.dragging {
	background-color: #eee;
	border: 2px solid black;
}

#mycanvas, #preview, #diff {
	position: absolute;
    border: 2px inset;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.learner-edit-form .form-group {
	margin-left: 20px;
}

.learner-edit-form .form-group:first-child {
	margin-left: 0;
}

.introjs-helperNumberLayer {
	line-height: 12px!important;
}

/* Client homepage */
#client-home-title {
	margin-left: 50px;
	margin-top: 20px;
}

#client-home-previews {
	padding: 20px;
}
#client-home-previews .row {
	margin-bottom: 30px;
}
#client-home-previews .preview-container {
	height: 300px;
	border: 1px solid black;
	overflow: hidden;
	text-align: center;
}
#client-home-previews .glyphicon {
	font-size: 120px;
	margin-top: 30px;
}
#client-home-previews a.glyphicon:link, #client-home-previews a.glyphicon:visited, #client-home-previews a.glyphicon:hover, #client-home-previews a.glyphicon:active {
	text-decoration: none;
	color: #000;
}
#client-home-previews .preview-image {
	height: 200px;
	overflow: hidden;
	margin: 10px;
}

/* Learner collab page */

#element-template {
	display: none;
}

#mockImg {
	width: 100%;
}

#mockCanvas {
	position: absolute;
	left: -2px;
	top: -2px;
	border: 2px inset;
}